flask
opencv-python
certifi>=2024.7.4
chardet>=5.2.0
click==8.1.7
cmake>=3.30.0
decorator>=4.4.2
dlib>=19.18.0
face-recognition>=1.3.0
face-recognition-models>=0.3.0
idna>=3.7
imageio>=2.34.2
imageio-ffmpeg>=0.5.1
moviepy>=1.0.3
numpy==1.18.4
opencv-python==4.10.0.84
Pillow>=10.4.0
proglog>=0.1.9
requests>=2.24.0
tqdm>=4.51.0
urllib3>=1.25.11
wincertstore>=0.2